<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Establece tu contraseña</title>
</head>
<body>
<h1>Establece tu contraseña</h1>
<p>Hola,</p>
<p>¡Gracias por registrarte! Para completar la configuración de tu cuenta, por favor, establece tu contraseña haciendo clic en el siguiente enlace:</p>
<p><a href="#" th:href="${resetUrl}">Establecer contraseña</a></p>
<p>Una vez que hayas establecido tu contraseña, podrás iniciar sesión en tu cuenta.</p>
</body>
</html>