<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<script th:src="@{/js/passwordToggle.js}" defer></script>

</head>
<body>
<div class="container mt-5">
	<h2 class="text-center">Reset Your Password</h2>

	<div th:if="${errorToken}">
		<div class="alert alert-danger">
			<span th:text="${errorToken}"></span>
		</div>
		<p>Para restablecer haz click <a href="/" th:href="@{/forgot-password}">aquí</a></p>
	</div>

	<form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post" class="mt-4">

		<div class="alert alert-danger"
				 th:if="${#fields.hasGlobalErrors()}"
				 th:each="error : ${#fields.errors('global')}"
				 th:text="${error}">Validation error</div>

		<!-- Hidden input for token -->
		<input type="hidden" name="token" th:value="${param.token}" />
		<!-- Password input field -->
		<div class="form-group mb-3">
			<label for="password" class="form-label">New Password</label>
			<div class="input-group">
				<input type="password" id="password" name="password"
							 class="form-control"
							 placeholder="Ingresar nueva contraseña"
							 required
							 th:value="${passwordResetForm.password}"
							 th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"/>
				<button type="button" class="btn btn-outline-secondary"
								onclick="togglePasswordVisibility(
				        	'password',
				        	'passwordIcon'
				        )">
					<img id="passwordIcon" th:src="@{/img/hidepassword.png}" alt="Toggle Password" style="width: 20px; height: 20px;">
				</button>
			</div>
		</div>

		<div class="alert alert-danger"
				 th:if="${#fields.hasErrors('password')}"
				 th:errors="*{password}">Password Error</div>

		<!-- Confirm password input field -->
		<div class="form-group mb-3">
			<label for="confirmPassword" class="form-label">Confirm Password</label>
			<div class="input-group">
				<input type="password" id="confirmPassword" name="confirmPassword"
							 class="form-control"
							 placeholder="Confirmar contraseña"
							 required
							 th:value="${passwordResetForm.confirmPassword}"
							 th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"/>
				<button type="button" class="btn btn-outline-secondary"
								onclick="togglePasswordVisibility(
				        	'confirmPassword',
				        	'confirmPasswordIcon'
				        )">
					<img id="confirmPasswordIcon" th:src="@{/img/hidepassword.png}" alt="Toggle Password" style="width: 20px; height: 20px;">
				</button>
			</div>
		</div>

		<div class="alert alert-danger"
				 th:if="${#fields.hasErrors('confirmPassword')}"
				 th:errors="*{confirmPassword}">Confirm Password Error</div>
		<!-- Submit button -->
		<div class="text-center">
			<button type="submit" class="btn btn-primary">Reset Password</button>
		</div>
	</form>
</div>

</body>
</html>
